{% extends 'base.html' %}
{% block content %}

<h1>Meme Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ meme.name }}</span>
                <p> meme image_url OR meme image_upload</p>
                <p>Description: {{ meme.description }}</p>
                <p>Author: {{ meme.author }}</p>
                <p>City: {{ meme.city }}</p>
                <p>Created: {{ meme.date }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'memes_update' meme.id %}">Edit</a>
                <a href="{% url 'memes_delete' meme.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}